.advantage {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: $color-dark-gray;
  background-color: #eeeeee;

  &--with-image {
    color: $color-white;
    background-color: $color-light-blue;

    .advantage__wrapper {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
}

.advantage__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.advantage__title {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  font-weight: 700;
  margin: 0;
  margin-bottom: 20px;
}

.advantage__number {
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.advantage__desc {
  text-align: center;
  margin: 0;
}

.advantage__picture {
  width: 320px;
  height: 260px;
  background-color: red;
  margin: 0;
  padding: 0;
}

.advantage__image {
  display: block;
}

@media (min-width: $tablet-width) {
  .advantage {
    width: 33%;

    &--with-image {
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      .advantage__wrapper {
        width: 33%;
      }
    }
  }


  .advantage__picture {
    width: 67%;
    height: 256px;
  }


  .advantage__title {
    font-size: 21px;
  }
}
