.features {
  padding-top: 32px;
}

.features__title {
  margin: 0;
  margin-right: 25px;
  margin-bottom: 30px;
  margin-left: 25px;

  text-align: center;

  color: $basic-black;

  font-size: 18px;
  line-height: 26px;
}

.features__desc {
  margin: 0;
  margin-right: 20px;
  margin-bottom: 12px;
  margin-left: 20px;

  text-align: center;
}

.features__list {
  margin: 0;

  list-style: none;

  &::before {
    display: block;

    width: 100%;
    height: 37px;

    content: "";

    background-color: $special-light-blue;
    background-image: url("../img/bg-triangle.svg");
    background-repeat: no-repeat;
    background-position: top center;
  }
}

.features__item {
  position: relative;

  text-align: center;

  background-color: $bg-light-gray;

  &::after {
    position: absolute;
    right: 25px;
    bottom: 0;
    left: 25px;

    height: 1px;

    content: "";

    background-color: #d6d6d6;
  }
  //
  &--with-picture {
    color: $basic-white;
    background-color: $special-light-blue;

    &::after {
      display: none;
    }

    .features__item-title {
      color: inherit;
    }
  }

  &:last-child {
    &::after {
      display: none;
    }
  }
}

.features__item--with-picture .features__item-wrapper {
  padding-top: 36px;
  padding-bottom: 38px;
}

.features__item-wrapper {
  padding-top: 28px;
  padding-right: 25px;
  padding-bottom: 24px;
  padding-left: 25px;
}

.features__item-title {
  margin: 0;
  margin-bottom: 7px;

  color: $basic-black;

  font-size: 18px;
  line-height: 26px;

  br {
    display: none;
  }
}

.features__item-number {
  margin: 0;
  margin-bottom: 15px;
}

.features__item-desc {
  margin: 0;

  font-size: 14px;
  line-height: 21px;
}

.features__item-picture {
  height: 260px;
  margin: 0;

  @include flexImage;
}

.features__details-list {
  margin: 0;
  padding: 0;
  padding-top: 35px;
  padding-right: 20px;
  padding-bottom: 36px;
  padding-left: 20px;

  list-style: none;

  background-color: $basic-white;
}

.features__details-item {
  position: relative;
  //

  margin-bottom: 27px;
  padding-left: 50px;

  &:last-child {
    margin-bottom: 0;
  }
}

.features__details-title {
  position: relative;

  margin: 0;
  margin-bottom: 15px;

  color: $basic-black;

  font-size: 18px;
  line-height: 26px;

  &::before {
    position: absolute;
    top: 50%;
    left: -10px;

    width: 40px;
    height: 40px;

    content: "";
    transform: translateX(-100%) translateY(-50%);

    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

  &--house {
    &::before {
      height: 37px;

      background-image: url("../img/icon-house.svg");
    }
  }

  &--gift {
    &::before {
      height: 38px;

      background-image: url("../img/icon-gift.svg");
    }
  }

  &--food {
    &::before {
      height: 35px;

      background-image: url("../img/icon-burger.svg");
    }
  }
}

.features__details-desc {
  margin: 0;

  font-size: 14px;
  line-height: 21px;
}

@include media-tablet {
  .features {
    padding-top: 43px;
  }

  .features__title {
    width: 520px;
    margin-right: auto;
    margin-left: auto;

    font-size: 21px;
  }

  .features__desc {
    width: 520px;
    margin-right: auto;
    margin-bottom: 55px;
    margin-left: auto;
  }

  .features__list {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;

    &::before {
      display: none;
    }
  }

  .features__item {
    &::after {
      display: none;
    }

    &--with-picture {
      display: grid;

      grid-template-columns: 1fr 2fr;
      grid-column-start: 1;
      grid-column-end: -1;
    }

    &--with-picture:nth-of-type(2n) {
      grid-template-columns: 2fr 1fr;

      .features__item-picture {
        order: -1;
      }
    }
  }

  .features__item--with-picture .features__item-wrapper {
    padding-top: 41px;
  }

  .features__item-wrapper {
    min-height: 256px;
    padding-top: 43px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
  }

  .features__item-title {
    margin-bottom: 10px;

    font-size: 21px;

    br {
      display: block;
    }
  }

  .features__item-number {
    margin-bottom: 21px;
  }

  .features__item-picture {
    height: auto;
  }

  .features__details-list {
    display: grid;

    margin: 0;
    padding: 0;

    text-align: center;

    grid-template-columns: 1fr 1fr 1fr;
    grid-column-start: 1;
    grid-column-end: -1;
  }

  .features__details-item {
    min-height: 330px;
    margin: 0;
    padding-top: 158px;
    padding-right: 32px;
    padding-bottom: 60px;
    padding-left: 32px;
  }

  .features__details-title {
    margin-bottom: 23px;

    font-size: 21px;

    &::before {
      top: -26px;
      left: 50%;

      width: 75px;
      height: 75px;

      transform: translateX(-50%) translateY(-100%);
    }

    &--house {
      &::before {
        width: 75px;
        height: 72px;
      }
    }

    &--gift {
      &::before {
        width: 65px;
        height: 75px;
      }
    }

    &--food {
      &::before {
        width: 76px;
        height: 68px;
      }
    }
  }
}

@include media-desktop {
  .features {
    padding-top: 56px;
  }

  .features__desc {
    margin-bottom: 42px;
  }

  .features__item--with-picture .features__item-wrapper {
    padding-top: 50px;
  }

  .features__item-wrapper {
    padding-right: 58px;
    padding-left: 58px;
  }

  .features__details-item {
    padding-right: 58px;
    padding-bottom: 80px;
    padding-left: 58px;
  }
}
