.main-nav {
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  z-index: 1;
  top: 17px;
  right: 20px;

  display: none;

  width: 23px;
  height: 22px;

  cursor: pointer;

  border: none;
  border-radius: 0;
  background: none;
  background-image: url("../img/icon-cross.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__list {
  margin: 0;
}

// ----- Стили только для мобильных ------
@include media-mobile-only {
  .main-nav__toggle {
    display: block;
  }

  .main-nav--closed {
    .site-nav__item {
      display: none;
    }

    .main-nav__toggle {
      background-image: url("../img/icon-menu.svg");
    }
  }

  .main-nav--no-js {
    .site-nav__item {
      display: block;
    }

    .main-nav__toggle {
      display: none;
    }
  }
}

// ----- Планшетные стили ------
@include media-tablet {
  .main-nav {
    display: block;

    padding-top: 16px;
    padding-bottom: 14px;
  }

  .main-nav__list {
    li {
      width: 20%;
    }

    li:nth-child(2) {
      margin-right: 20%;
    }
  }
}
