.page-footer {
  padding-top: 40px;
  padding-bottom: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 60px;
  padding-right: 60px;
}

.page-footer__hashtag {
  margin: 0;
  margin-bottom: 35px;
}

.page-footer__social {
  margin: 0;
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 36px;
    padding-bottom: 36px;
  }

  .page-footer__hashtag {
    margin: 0;
  }

  .page-footer__social {
    margin: 0;
  }

  .page-footer__copyright {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding-left: 120px;
    padding-right: 120px;
  }
}
