.site-nav {
  position: relative;

  padding: 0;

  list-style: none;

  background-color: $special-light-blue;

  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 7px;

    content: "";
    pointer-events: none;

    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.2) 100%
    );
  }
}

.site-nav__item {
  text-align: center;
}

.site-nav__item:last-child .site-nav__link {
  border-bottom: none;
}

.site-nav__link {
  display: block;

  padding-top: 9px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-left: 20px;

  color: $basic-white;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  // background-color: $special-light-blue;

  font-size: 18px;
  font-weight: 700;
  line-height: 40px;

  &[href]:hover,
  &[href]:focus {
    background-color: $special-light-blue-hover;
  }

  &[href]:active {
    color: rgba($basic-white, 0.3);
    background-color: $special-light-blue-active;
  }
}

@include media-tablet {
  .site-nav {
    display: flex;
    flex-wrap: wrap;

    background-color: transparent;

    &::after {
      display: none;
    }
  }

  .site-nav__item--current .site-nav__link {
    color: #766357;

    &[href]:hover,
    &[href]:focus {
      color: #604e43;
    }

    &[href]:active {
      color: rgba(#766357, 0.3);
    }
  }

  .site-nav__link {
    display: inline;

    padding: 0;

    color: $basic-black;
    border: none;
    background-color: transparent;

    font-size: 14px;
    line-height: 26px;

    &[href]:hover,
    &[href]:focus {
      color: $special-light-blue;
      background-color: transparent;
    }

    &[href]:active {
      color: $basic-black-opacity-30;
      background-color: transparent;
    }
  }
}
