.social__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social__item {
  margin-right: 6px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  width: 46px;
  height: 48px;
  background-color: $color-light-blue;
  display: flex;

  &::before {
    margin: auto;
    display: block;
    content: "";
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &--twitter {
    &::before {
      width: 18px;
      height: 15px;
      background-image: url("../img/icon-twitter.svg");
    }
  }

  &--facebook {
    &::before {
      width: 9px;
      height: 19px;
      background-image: url("../img/icon-facebook.svg");
    }
  }

  &--youtube {
    &::before {
      width: 20px;
      height: 14px;
      background-image: url("../img/icon-youtube.png");
    }
  }

  &:hover,
  &:focus {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;

    &::before {
      opacity: 0.3;
    }
  }
}
