@mixin flexImage {
  position: relative;

  img {
    position: absolute;
    z-index: 0;

    display: block;

    width: 100%;
    max-width: none;
    height: 100%;

    object-fit: cover;
    object-position: center;
  }
}

// <<<---Media-mixins--->>>
@mixin media-mobile-only {
  @media (max-width: $mobile-width-only) {
    @content;
  }
}

@mixin media-tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}
// @include media-tablet {}

@mixin media-desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin media-castom($width) {
  @media (min-width: $width) {
    @content;
  }
}
