@charset "UTF-8";

*,
::after,
::before {
  border-radius: 2px;
}

::after,
::before {
  box-shadow: 0 0 2px 1px #a5b1c2;
}

body,
html {
  box-shadow: 0 0 2px 1px #a5b1c2, 0 0 0 1px #a5b1c2;
}

footer,
header,
main {
  box-shadow: 0 0 2px 1px #10b9b1, 0 0 0 1px #10b9b1;
}

article,
aside,
nav,
section {
  box-shadow: 0 0 2px 1px #8854d0, 0 0 0 1px #8854d0;
}

div,
form,
table {
  box-shadow: 0 0 2px 1px #4b6584, 0 0 0 1px #4b6584;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  box-shadow: 0 0 2px 1px #fa8231, 0 0 0 1px #fa8231;
}

blockquote,
dl,
fieldset,
figure,
ol,
p,
ul {
  box-shadow: 0 0 2px 1px #3867d6, 0 0 0 1px #3867d6;
}

address,
dd,
dt,
li,
pre {
  box-shadow: 0 0 2px 1px #f7b731, 0 0 0 1px #f7b731;
}

a,
button,
input,
keygen,
select,
textarea {
  box-shadow: 0 0 2px 1px #20bf6b, 0 0 0 1px #20bf6b;
}

abbr,
area,
b,
bdi,
bdo,
br,
cite,
code,
data,
datalist,
del,
dfn,
em,
i,
label,
legend,
mark,
q,
s,
small,
span,
strong,
sub,
sup,
template,
time {
  box-shadow: 0 0 2px 1px #eb3b5a, 0 0 0 1px #eb3b5a;
}

audio,
canvas,
embed,
iframe,
img,
math,
object,
svg,
video {
  box-shadow: 0 0 2px 1px #2d98da, 0 0 0 1px #2d98da;
}
